body {
    margin: 0 0 0 0;
    background-color: black;
}

header {
    background-color: aqua;
    grid-area: header;
    font-size: xx-large;
    text-align: center;
    padding-top: 125px;
}

main {
    background-color: rgb(0, 0, 0);
  }

nav {
    background-color: black;
    grid-area: nav;
}

div {
    background-color: black;
    grid-area: div;
}
.one {
    color: white;
    text-align: center;
}

.two {
    color: white;
    text-align: center;
    font-size: large;
}

.three {
    color: white;
    text-align: center;
}

#margin1 {
    padding-right: 100px;
    padding-left: 100px;
}

#margin2 {
    padding-right: 100px;
    padding-left: 100px;
}

#margin3 {
    padding-right: 100px;
    padding-left: 100px;
}

#bolded {
      font-weight: bold;
  }

#blue {
    color: blue;
    background-color: blue;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#orange {
    color: orange;
    background-color: orange;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

#aqua {
    color: aqua;
    background-color: aqua;
    text-align: center;
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

@media (min-width: 576px) {
    .container {
          grid-template-columns: 1fr;
          grid-template-rows: auto;
    
          grid-template-areas:
            "header"
            "main"
            "nav"
            "div"
      }
    }

@media (min-width: 992px) {
.container {
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: 250px 500px;
    grid-column-gap: 20px;

    grid-template-areas:
      "header header header"
      "main nav div"
  }
}